<array>
    <dict>   
         <key>SKAdNetworkIdentifier</key>
         <string>4FZDC2EVR5.skadnetwork</string>
    </dict>
    <dict>   
         <key>SKAdNetworkIdentifier</key>
         <string>YCLNXRL5PM.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>T38B2KH725.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>7UG5ZH24HU.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>2U9PT9HC89.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>mlmmfzh3r3.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>W9Q455WK68.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>av6w8kgt66.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>TL55SBB4FM.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>44n7hlldy6.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>ppxm28t8ap.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>3RD42EKR43.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>6xzpu9s2p8.skadnetwork</string>
    </dict>
    <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>ydx93a7ass.skadnetwork</string>
    </dict>
    <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>V72QYCH5UU.skadnetwork</string>
    </dict>
    <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>c6k4g5qg8m.skadnetwork</string>
    </dict>
    <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>hs6bdukanm.skadnetwork</string>
    </dict>
    <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>M8DBW4SV7C.skadnetwork</string>
    </dict>
    <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>4468km3ulz.skadnetwork</string>
    </dict>
    <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>9T245VHMPL.skadnetwork</string>
    </dict>
    <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>8s468mfl3y.skadnetwork</string>
    </dict>
    <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>KLF5C3L5U5.skadnetwork</string>
    </dict>
</array>
