<array>
    <dict>   
         <key>SKAdNetworkIdentifier</key>
         <string>4FZDC2EVR5.skadnetwork</string>
    </dict>
    <dict>   
         <key>SKAdNetworkIdentifier</key>
         <string>YCLNXRL5PM.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>T38B2KH725.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>7UG5ZH24HU.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>2U9PT9HC89.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>mlmmfzh3r3.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>W9Q455WK68.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>av6w8kgt66.skadnetwork</string>
    </dict>
    <dict>
         <key>SKAdNetworkIdentifier</key>
         <string>44n7hlldy6.skadnetwork</string>
    </dict>
</array>

